@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 602px;
  height: 769px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 12px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(to top right, #ffc857 0%, #22b4bf 100%);
 
  font-family: "Poppins", Helvetica, sans-serif;

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    border-radius: 3px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    .title {
     // border-bottom: 1px solid gainsboro;

      font-style: normal;
      letter-spacing: -0.035em;

      color: #4f4f4f;
      text-align: center;
      h1 {
        font-size: 18px;
        font-weight: 500;

        line-height: 27px;
      }
      p {
        font-size: 10px;

        font-weight: 300;
        line-height: 15px;
      }
    }
    .image-box {
      width: 100px;
      height: 100px;

      border: 1px dashed gainsboro;
      border-radius: 3px;
      text-align: center;
      img {
        height: 100px;
        width: 100px;
      }

   
      .upload-input {
        position: relative;
        top: -62px;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    .btn {
      display: block;
      width: 140px;
      height: 40px;
      background: #22b4bf;
      color: #fff;
      border-radius: 3px;
      border: 0;

      transition: all 0.3s ease-in-out;
      font-size: 14px;
    }
  }
}
